In [4]:
import pandas as pd

In [8]:
ecommerce_df = pd.read_csv('ecommerce_customer_churn_dataset.csv')
ecommerce_df.head()

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
0,43.0,Male,France,Marseille,2.9,14.0,27.4,6.0,50.6,3.0,...,17.9,9.0,4.0,16.3,20.8,1.0,953.33,2278.0,0,Q1
1,36.0,Male,UK,Manchester,1.6,15.0,42.7,10.3,37.7,1.0,...,42.8,7.0,3.0,NaN,23.3,3.0,1067.47,3028.0,0,Q4
2,45.0,Female,Canada,Vancouver,2.9,10.0,24.8,1.6,70.9,1.0,...,0.0,4.0,1.0,NaN,8.8,NaN,1289.75,2317.0,0,Q4
3,56.0,Female,USA,New York,2.6,10.0,38.4,14.8,41.7,9.0,...,41.4,2.0,5.0,85.9,31.0,3.0,2340.92,2674.0,0,Q1
4,35.0,Male,India,Delhi,3.1,29.0,51.4,NaN,19.1,9.0,...,37.9,1.0,11.0,83.0,50.4,4.0,3041.29,5354.0,0,Q4

In [12]:
list(ecommerce_df.columns)

['Age',
 'Gender',
 'Country',
 'City',
 'Membership_Years',
 'Login_Frequency',
 'Session_Duration_Avg',
 'Pages_Per_Session',
 'Cart_Abandonment_Rate',
 'Wishlist_Items',
 'Total_Purchases',
 'Average_Order_Value',
 'Days_Since_Last_Purchase',
 'Discount_Usage_Rate',
 'Returns_Rate',
 'Email_Open_Rate',
 'Customer_Service_Calls',
 'Product_Reviews_Written',
 'Social_Media_Engagement_Score',
 'Mobile_App_Usage',
 'Payment_Method_Diversity',
 'Lifetime_Value',
 'Credit_Balance',
 'Churned',
 'Signup_Quarter']

In [16]:
ecommerce_df.shape

(50000, 25)

In [18]:
ecommerce_df['Total_Purchases']

0         9.0
1        19.5
2         9.1
3        15.0
4        32.5
         ...
49995    13.0
49996    15.0
49997    12.0
49998    12.0
49999     9.0
Name: Total_Purchases, Length: 50000, dtype: float64

In [24]:
ecommerce_df['Signup_Quarter'].unique()

array(['Q1', 'Q4', 'Q2', 'Q3'], dtype=object)

In [26]:
ecommerce_df['Average_Order_Value']

0         94.72
1         82.45
2        165.52
3        147.33
4        141.30
          ...
49995    156.76
49996    103.31
49997    139.44
49998    111.58
49999    132.67
Name: Average_Order_Value, Length: 50000, dtype: float64

In [28]:
ecommerce_df['Churned'].unique()

array([0, 1])